
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <!-- <mat-card> -->
            <mat-card-title>
                    <div class="header">
                        <h2>Login</h2>
                    </div>
                </mat-card-title>
            <div class="login-Box">
                <form [formGroup]="AdminLoginForm">
                    <div class="input">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email" placeholder="Email" required>
                            <mat-error *ngIf="f['email'].errors?.['required']">email is required</mat-error>
                            <mat-error *ngIf="f['email'].errors?.['email']">email is not valid</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" placeholder="Password"
                                required>
                            <mat-error>password is required</mat-error>
                        </mat-form-field>
                    </div>
                    <button type="submit" class="button_login" mat-button color="primary"
                        (click)="Login()">Login</button>
                </form>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>