<!-- <h1>Employee Register</h1> -->
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Employee Management System</span>
    <span class="example-spacer"></span>
    <span class="logout">
        <button mat-icon-button class="example-icon" matTooltip="Logout" (click)="logout()"
            aria-label="Example icon-button with menu icon">
            <mat-icon>logout</mat-icon>
        </button>
    </span>
</mat-toolbar>
<div class="mat-elevation-z8">
    <div style="margin-top: 10px;">
        <div class="mySearch">
            <button mat-raised-button id="ne" class="warn" (click)="openDialog()">
                <mat-icon>add</mat-icon>New Employee
            </button>
            <mat-form-field appearance="outline" class="mySerachFormfield">
                <mat-label>Filter</mat-label>
                <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter($event)" placeholder="Ex ..." #input>
                <button mat-icon-button matSuffix autocomplete="off" aria-label="Clear" *ngIf="searchKey"
                    (click)="onClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <mat-table [dataSource]="dataSource" matSort>
            <!-- ProductName Column -->
            <ng-container matColumnDef="EmpName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="col-padding">Employee Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
            </ng-container>

            <!-- category -->

            <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="col-padding"> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>


            <!-- MobileNo -->
            <ng-container matColumnDef="MobileNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="col-padding">MobileNo</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.mobileNO}} </mat-cell>
            </ng-container>
            <!--Designation-->
            <ng-container matColumnDef="Designation">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="col-padding"> Category </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
            </ng-container>
            <!--Task Status-->
            <ng-container matColumnDef="Taskstatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="col-padding"> Task Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Taskstatus}} </mat-cell>
            </ng-container>


            <!--Task Column -->
            <ng-container matColumnDef="Task">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="col-padding"> Task </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Task}} </mat-cell>
            </ng-container>

            <!-- button Actions Column -->
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef class="col-padding">Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button class="edit-button" (click)="editEmp(element)" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(element.id)" matTooltip="Delete">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <!-- footerConcepts -->
            <ng-container matColumnDef="loadData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    <mat-spinner color="warn"></mat-spinner>
                </mat-footer-cell>
            </ng-container>
            <!-- nodatafound -->
            <ng-container matColumnDef="nodata">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data Found
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <!-- loadData -->
            <mat-footer-row *matFooterRowDef="['loadData']" [ngClass]="{'hide':dataSource !=null}"></mat-footer-row>
            <!-- nodata -->
            <mat-footer-row *matFooterRowDef="['nodata']"
                [ngClass]="{'hide':!(dataSource !=null && dataSource.data.length == 0)}"></mat-footer-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons aria-label="Select page of products">
        </mat-paginator>
    </div>
</div>