@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


mat-toolbar button{
  margin:5px
}
.header{
  background-color: #6b94cc;
}
.logout-icon{
  left:0
}
.mat-elevation-z8{
  width: 90%;
  margin-left: 70px;
}
mat-table{
  overflow-x:auto;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .hide{
    display: none;
  }
  mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
  }
  .mySearch{
    margin:10px;
  }
  .mySerachFormfield{
    width: 60%;
    margin-left: 10px;
    padding:5px 10px;
    background-color: #ffff;
    /* color: red; */
    font-weight: bolder;
  }
  #ne{
    background-color: #c5dbf4bf;
  }
  /* sidenav */
  .example-container{
    width: 200px;
    height: 1000px;
    margin: 10px;
    border: 1px solid #555;
  }
  .logout{
    right: 0;
  }

  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #a8dab5, rgba(0, 0, 0, 0.12)); */